<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">  
    <mirrors> 
        <mirror> 
            <id>mirror-of-central</id>  
            <name>Mirror of Central</name>  
            <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/groups/public</url>  
            <!--Если здесь указывать url, а не id, о зеркалирование plugin-repo почему 
				то не происходит. -->  
            <!--Возможно баг maven -->  
            <mirrorOf>central</mirrorOf> 
        </mirror> 
    </mirrors>  
    <profiles> 
        <profile> 
            <id>default</id>  
            <!-- Configure unsecure connection with central repos to avoid SSL problems -->  
            <repositories> 
                <!-- PPRB dependency -->  
                <repository> 
                    <id>esb_thirdparty</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/SNUIL_thirdparty</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </repository>  
                <repository> 
                    <id>efs_thirdparty</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/efs_thirdparty</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </repository>  
                <repository> 
                    <id>sf-sbt-SNUIL_thirdparty</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/SNUIL_thirdparty</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </repository>  
                <repository> 
                    <id>EFS_dev_repo</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/EFS_dev_repo</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </repository>  
                <repository> 
                    <id>efs_release</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/efs_release</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </repository>  
                <repository> 
                    <id>efs_snapshot</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/efs_snapshot</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </repository>  
                <repository> 
                    <id>ufs-platform-release</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/ufs-platform_release</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </repository>  
                <repository> 
                    <id>Atlassian_proxy</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/Atlassian_proxy</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </repository>  
                <repository> 
                    <id>sbt-bdd_release</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/sbt-bdd_release</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </repository>  
                <repository> 
                    <id>sbt-bdd_group</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/sbt-bdd_group</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </repository>  
                <repository> 
                    <id>ufs-platform-thirdparty</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/ufs-platform_thirdparty</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </repository>  
                <repository> 
                    <id>PPRB-dependency-sigma</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/Platform_release</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </repository>  
                <repository> 
                    <id>FSB_Release</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/fsb_release</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </repository>  
                <repository> 
                    <id>efs-tools</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/groups/EFSTOOLS_group</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </repository>  
                <repository> 
                    <id>central</id>  
                    <url>http://repo1.maven.org/maven2</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </repository>  
                <repository> 
                    <id>dopefish</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/sbt-dopefish_release/</url> 
                </repository> 
            </repositories>  
            <pluginRepositories> 
                <!-- PPRB dependency -->  
                <pluginRepository> 
                    <id>esb_thirdparty</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/SNUIL_thirdparty</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>efs_thirdparty</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/efs_thirdparty</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>sf-sbt-SNUIL_thirdparty</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/SNUIL_thirdparty</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>efs_release</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/efs_release</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>ufs-platform-release</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/ufs-platform_release</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>Atlassian_proxy</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/Atlassian_proxy</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>sbt-bdd_release</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/sbt-bdd_release</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>sbt-bdd_group</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/sbt-bdd_group</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>ufs-platform-thirdparty</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/ufs-platform_thirdparty</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>PPRB-dependency-sigma</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/repositories/Platform_release</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>efs-tools</id>  
                    <url>http://sbtnexus.ca.sbrf.ru:8081/nexus/content/groups/EFSTOOLS_group</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases>  
                    <snapshots> 
                        <enabled>true</enabled> 
                    </snapshots> 
                </pluginRepository>  
                <pluginRepository> 
                    <id>central</id>  
                    <url>http://repo1.maven.org/maven2</url>  
                    <releases> 
                        <enabled>true</enabled> 
                    </releases> 
                </pluginRepository> 
            </pluginRepositories> 
        </profile> 
    </profiles>  
    <activeProfiles> 
        <activeProfile>default</activeProfile> 
    </activeProfiles> 
</settings>
