<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
</head>
<body>
<section layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var status = [[${status}]];
        /*]]>*/
    </script>
<p/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Дата начала</th>
            <th scope="col"  th:if="${status != 'complete'}">Последний вопрос</th>
            <th scope="col"  th:if="${status != 'complete'}">Ответ</th>
            <th scope="col">Продукт</th>
            <th th:if="${status == 'complete'}" scope="col">УИТ</th>
            <th th:if="${status == 'complete'}" scope="col">Цвет бумаги</th>
            <th scope="col">Статус</th>
            <th scope="col">Действие</th>
        </tr>
        </thead>
        <tbody th:if="${not #lists.isEmpty(processList)}">
        <tr th:each="process : ${processList}">
            <td th:text="${#dates.format(process.getDateStart(), 'dd-MMM-yyyy')}"></td>
            <td  th:if="${status != 'complete'}">
                <div th:utext="${process.getLastProcessStep().getQuestion().getContent()}"></div>
            </td>
            <td th:utext="${process.getLastProcessStep().getAnswerText()}"  th:if="${status != 'complete'}"></td>
            <td th:text="${process.getProductName()}"></td>
            <td th:if="${status == 'complete'}" th:text="${process.getUti()}"></td>
            <td th:if="${status == 'complete'}" th:text="${process.getColor()}"></td>
            <td>
                <div th:if="${process.getPassed() == null}">
                    <p th:text="'Приостановлен'"></p>
                </div>
                <div th:unless="${process.getPassed() == null}">
                    <p th:text="${process.getPassed().booleanValue() == true ? 'Пройден' : 'Не пройден'}"></p>
                </div>
            </td>
            <td>
                <div th:if="${process.getPassed() != null}">
                    <button class="btn btn-dark" th:text="'Пройти заново'"
                            th:onclick="|passTestAgain('${process.getProductCode()}',
                            '${process.getProductName()}')|"></button>
                </div>
                <div th:unless="${process.getPassed() != null}">
                    <button class="btn btn-success" th:text="'Продолжить'"
                            th:onclick="|resumeTest('${process.getId()}',
                            '${process.getLastProcessStep().getQuestion().getId()}',
                            '${process.getLastProcessStep().getAnswer()}')|"></button>
                </div>
            </td>
        </tr>
        </tbody>
        <tbody th:if="${#lists.isEmpty(processList)}">
        <tr>
            <td colspan="6">Нет процессов</td>
        </tr>
        </tbody>
    </table>
    <div th:insert="~{footer :: back}"></div>

<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/my_processes.js}"></script>
</section>
</body>
</html>