<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Вопрос теста</title>
    <meta name="ctx" th:content="@{/}" />
    <title>Layout</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}"/>
    <script th:src="@{/js/popper.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-toggle.min.css}" />
    <script th:src="@{/js/bootstrap-toggle.min.js}"></script>
</head>
<body>
<section layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var questionid = [[${questionid}]];
        var answers = [[${answers}]];
        var answerBtnStyles = [[${answerBtnStyles}]];
        var processId = [[${processId}]];
        var isFirstStep = [[${isFirstStep}]];
        var verifiersList = [[${verifiersList}]];
        /*]]>*/
    </script>
    <button type="button" class="btn-default btn-circle close-test-btn navPseudo" style="position:absolute;right:10px;top:10px;cursor:pointer"><i class="fa fa-times" aria-hidden="true"></i></button>

    <div class="jumbotron">
        <div class="container">
            <h3 id="question"></h3>
            <div class="form-group">
            	<label for="verifiers_list">Верификаторы</label>
            	<select class="form-control col-sm-4" id="verifiers_list">
            		<option>Не выбрано</option>
            		<option th:each="verifier : ${verifiersList}" th:text="${verifier.getFullName()}"></option>
            	</select>
            </div>
            <div id="toggle-container">
            	<label>Подсказка  <input id="show-note-toggle-input" type="checkbox" data-toggle="toggle"></input></label>   
            </div>         
            <div id="question_note"></div>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="center-div">
            <div class="Row">
                <div th:each="answer,ind : ${answers}" class="Column">
                    <button th:attr="data-tag=${answer.getKey()}" th:utext="${answer.getValue()}"
                        class="answerBtn themeBtn" th:classappend="${answerBtnStyles[ind.index]}"></button>
                </div>
            </div>
        </div>



        <hr/>

    </div> <!-- /container -->



    <div class="container">
        <div id="attributeContent"/>
    </div>

    <div class="modal fade" id="showResultDialog" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Все ответы были корректны?</h5>
                </div>
                <div class="modal-body" id="resultDialogBody">
                    <h5>Вы закончили SPPI-тест по ФИ. Подтвердите, пожалуйста, корректность Ваших ответов.</h5>
                </div>
                <div class="modal-footer justify-content-between">
                    <button id="resultDialogAcceptBtn" type="button" class="btn btn-success">Да, подтверждаю</button>
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                          title="При ответе &quot;Нет&quot; результаты теста будут аннулированы и не будут сохранены">
                        <button id="resultDialogCancelBtn" type="button" class="btn btn-warning"
                                data-dismiss="modal">Нет</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

<script th:src="@{/js/step.js}"></script>
<script th:src="@{/js/common.js}"></script>
</section>
</body>
</html>