<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Вопрос теста</title>
    <meta name="ctx" th:content="@{/}" />
    <title>Layout</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}"/>
    <script th:src="@{/js/popper.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-toggle.min.css}" />
    <script th:src="@{/js/bootstrap-toggle.min.js}"></script>
</head>
<body>
<section layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var questionid = [[${questionid}]];
        var answers = [[${answers}]];
        var answerBtnStyles = [[${answerBtnStyles}]];
        var processId = [[${processId}]];
        var isFirstStep = [[${isFirstStep}]];
        var verifiersList = [[${verifiersList}]];
        /*]]>*/
    </script>
    <button type="button" class="btn-default btn-circle close-test-btn navPseudo" style="position:absolute;right:10px;top:10px;cursor:pointer"><i class="fa fa-times" aria-hidden="true"></i></button>

    <div class="jumbotron">
        <div class="container">
            <h3 id="question"></h3>
            <div class="form-group">
            	<label for="verifiers_list">Верификаторы</label>
            	<select class="form-control col-sm-4" id="verifiers_list">
            		<option>Не выбрано</option>
            		<option th:each="verifier : ${verifiersList}" th:text="${verifier.getFullName()}"></option>
            	</select>
            </div>
            <div id="toggle-container">
            	<label>Подсказка  <input id="show-note-toggle-input" type="checkbox" data-toggle="toggle"></input></label>   
            </div>         
            <div id="question_note"></div>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="center-div">
            <div class="Row">
                <div th:each="answer,ind : ${answers}" class="Column">
                    <button th:attr="data-tag=${answer.getKey()}" th:utext="${answer.getValue()}"
                        class="answerBtn themeBtn" th:classappend="${answerBtnStyles[ind.index]}"></button>
                </div>
            </div>
        </div>

        <hr/>

    </div> <!-- /container -->










    <!--<div class="row">
        <div class="col-sm-1">
            <h3>Вопрос:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h4>
                <div id="question"></div>
                <blockquote id="question_note">Примечание:</blockquote>
            </h4>
        </div>
    </div>
    <br/>
    <div class="row">
        <div th:each="answer,ind : ${answers}" class="col-sm-2">
            <button th:attr="data-tag=${answer.getKey()}" th:text="${answer.getValue()}"
                    class="answerBtn btn" th:classappend="${answerBtnStyles[ind.index]}"></button>
        </div>
    </div>-->
<script th:src="@{/js/step.js}"></script>
<script th:src="@{/js/common.js}"></script>
</section>
</body>
</html>