<!DOCTYPE "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="back">
        <br/>
        <div class="row">
            <div class="col-sm-6">
                <h4>Вернуться назад и выбрать новый тест?</h4>
            </div>
            <div class="col-sm-1">
                <button id="return_button" class="btn btn-secondary">Назад</button>
            </div>
        </div>
    </div>
</body>
</html>