<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
    <title>SPPI-тест</title>
</head>
<body>
<section layout:fragment="content">
<br/>
    <div class="row">
        <div class="col-sm-4">
            <h3>Выберите продукт:</h3>
            <select id="product_type" class="form-control">
                <option value="credit_legal_entity">Кредитование юридических лиц</option>
            </select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4">
            <h4>Запуск теста для продукта</h4>
        </div>
        <div class="col-sm-1">
            <button id="start_button" class="btn btn-primary">Старт</button>
        </div>
    </div>
    <br/>

<script th:src="@{/js/index.js}"></script>
</section>
</body>
</html>