<!DOCTYPE "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SPPI-test</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<p/>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Выберите продукт:</h3>
            <select id="product_type" class="form-control">
                <option value="term_susp_oblig">Условие прекращения или отсрочки обязательств</option>
            </select>
        </div>
    </div>
    <p/>
    <div class="row">
        <div class="col-sm-3">
            <h4>Запуск теста</h4>
        </div>
        <div class="col-sm-1">
            <button id="start_button" class="btn btn-primary">Старт</button>
        </div>
    </div>
</div>

<script th:src="@{/js/index.js}"></script>
</body>
</html>