<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layouts/layout">
<head>
    <title>Вопрос теста</title>
</head>
<body>
<section layout:fragment="content">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var questionid = [[${questionid}]];
        var answers = [[${answers}]];
        var answerBtnStyles = [[${answerBtnStyles}]];
        var processId = [[${processId}]];
        var isFirstStep = [[${isFirstStep}]];
        /*]]>*/
    </script>
    <div class="row">
        <div class="col-sm-1">
            <h3>Вопрос:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <h4>
                <div id="question"></div>
                <blockquote id="question_note">Примечание:</blockquote>
            </h4>
        </div>
    </div>
    <br/>
    <div class="row">
        <div th:each="answer,ind : ${answers}" class="col-sm-2">
            <button th:attr="data-tag=${answer.getKey()}" th:text="${answer.getValue()}"
                    class="answerBtn btn" th:classappend="${answerBtnStyles[ind.index]}"></button>
        </div>
    </div>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/step.js}"></script>
</section>
</body>
</html>